@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); 

.noScroll{
    overflow: hidden;
}

body{
    font-family: "DM Sans";
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

main{
    padding: 0 100px;
}
.logo {
    height: 50px;
    margin-left: 100px;
}
.photograph-header {
    padding: 0 50px;
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 70px;
}
.photograph-header h1 {
 color: #D3573C;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.photographer-location {
    color: #901C1C;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.photographer-tagline {
color: #525252;
font-size: 18px;
font-weight: 400;
}
.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.photograph-header > .contact_button:hover {
    background-color: #DB8876;
    color: #000000;
    transition-duration: 0.3s;
}
            /* media  */
.photographer-work {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px 85px;
} 
.media-card {
    flex: 0 1 calc(25%); 
    min-width:350px;
    margin-bottom: 30px; 
   
    
}
.media-card img,
.media-card video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.media-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.title {
color: #901C1C;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



            /* gestion ds likes  */ 

.likes-count {
    color: #901C1C;
    font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.like-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #901C1C;
    font-size: 21px;
}

.like-button.liked,
.like-button.liked i {
    color: #901C1C; 
}

            /* footer  total des likes*/ 
.photographer-footer {
    position: fixed;
    width:  376px;
    height: 69px;
    bottom: 0;
    right: 90px;
    padding: 16px 35px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: #DB8876;
    }
    .total-likes,
    .price-per-day  {
    text-align: center;
    font-size: 24px;
    line-height: normal;
    }
    .total-likes-contenu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .icon{
        width: 22px;
    }


            /* le trier  */
.works-sort {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.works-sort label {
    padding-right: 25px;
    font-size: 1.125em;
    font-weight: 700;
}

#sortSelect {
    background-color: #901C1C;
    color: #ffffff;
    width: 170px;
    height: 69px;
    flex-shrink: 0;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}
.optionselect {
    background-color: #901C1C;
    color: #ffffff;
    border-bottom: 3px;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}

            /* Formulaire  */

.modal-hidden {
    display: none;
  }
  
  .modal-visible {

    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .modal {
    position: absolute;
    top: 62px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 631px;
    max-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px 25px 35px;
    overflow-y: scroll;
    scrollbar-color: #901C1C #DB8876;
    scrollbar-width: thin;
    z-index: 3;
    
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
 
.contact_modal_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.4);
    z-index: -1;
    
}
.header-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
}

.header-form img {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 5px;
}

.header-form h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    padding: 0;
    margin: 0;
} 
#photographerName {
    display: flex;
    font-size: 64px;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
   
}

form label {
    color: #312E2E;
    font-size: 36px;
}
form .form-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 15px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.form-data textarea {
    width: 100%; 
    min-height: 150px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    resize: vertical; 
    font-size: 20px;
}
.error-message {
    color: red;
    display: none;
    font-size: 16px;
    margin-top: 4px;
}

.invalid {
    border-color: red;
}
.thank-you-modal-content {
    text-align: center;
    padding: 20px;
}

            /* lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    align-items: center;
  }
  .lightbox-media-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 70vh;
    border-radius: 5px;
    
}


.media-name {
    width: 100%;
    color: #901C1C;
    font-size: 24px;
}
  .lightbox-close {
    color: #901C1C;
    position: absolute;
    top: 35px;
    right: 150px;
    width: 45px;
    filter: invert(18%) sepia(46%) saturate(3524%) hue-rotate(348deg) brightness(90%) contrast(90%);
    cursor: pointer;
    z-index: 10;
  }
  
  .lightbox-image ,.lightbox-video {
    border-radius: 5px;
    max-width: 100%;
    max-height: 85vh;
}

  .lightbox-prev{
    align-items: center;
    left: 150px;
  }
  .lightbox-next {
    right: 150px;
  }
  .lightbox-prev,
  .lightbox-next {
    position: absolute;
    width: 40px;
    filter: invert(18%) sepia(46%) saturate(3524%) hue-rotate(348deg) brightness(90%) contrast(90%);
    cursor: pointer;
    height: 100%;
}
  
  .lightbox-prev:hover,
  .lightbox-next:hover {
    background: rgba(255, 255, 255, 0.3);
  }
                    /* respensive  */

@media screen and (max-width: 1024px) {
    body {
    
        max-width: 1024px;
    }
    main {
        padding: 0;
        margin-left: 40px;
    }
    
    .logo {
        margin-top: 20px;
        margin-left: 50px;
    }
    .media-card {
        flex: 1 1 calc(25%);
        width: 100%;
    }
    .media-card img, .media-card video {
        width: 100%;
        
    }

    .photograph-header {
        padding: 0;
        width: 80%;
    }
    .photograph-header h1 {
        font-size: 60px;
       
    }
    .photographer-footer {
        right:0 ;
        padding: 6px 28px;
    }
    .lightbox-image ,.lightbox-video {
        max-width: 90%;
    }
    .media-name {
        width: 90%;
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    body {
    
        max-width: 768px;
    }
    .logo {
        margin-top: 15px;
        height: 40px;
    }

    .photograph-header {
        margin-top: 70px;
        margin-left: 40px;
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
        padding: 20px; 
        justify-content: center;
    }

    .photograph-header--info {
        order: 3;
        width: 100%; 
        text-align: center;
    }

    .photograph-header img {
        order: 1;
        width: 150px; 
        height: 150px;
    }
    .photograph-header h1 {
        margin: 0;
    }

    .contact_button {
        order: 2; 
        width: 200px; 
        margin-top: 10px; 
    }
    .works-sort {
        margin-top: 50px;
       
    }
    #sortSelect {
        height: 50px;
    }
    .media-card {
        flex: none;
    }
    .photographer-footer {
        width: 300px;
        right: 0;
        padding: 0 35px;
       
    }
    .lightbox-image ,.lightbox-video {
        max-width: 75%;
    }
    .media-name {
        width: 75%;
        font-size: 20px;
    }
    .lightbox-prev,
     .lightbox-next {
    width: 25px;
    }
    .lightbox-close {
        width: 25px;
    }
}
@media screen and (max-width: 320px) {

    body {
        width: 100%;
    }
    main {
        width: 100%;
        margin-left: 10px;
    }
    .logo {
        margin-top: 15px;
        height: 20px;
    }
    .photograph-header {
        margin-top: 0;
        margin-left: 30px;
        gap: 10px; 
    }
    .photograph-header--info {
        order: 3; 
        width: 100%; 
        text-align: center; 
    }
    .photograph-header img {
        order: 1; 
        width: 100px; 
        height: 100px;
    }
    .photograph-header h1 {
        font-size: 50px;
        margin: 0;
    }

    .contact_button {
        order: 2; 
        width: 160px; 
        margin-top: 10px; 
        font-size: 16px;
    }
    .works-sort {
        margin-top: 50px;  
    }
    #sortSelect {
        height: 40px;
        font-size: 16px;
    }
    #sortSelect option {
        font-size: 13px;
    }
    .media-card {
        flex: none;
    }
    .title, .likes-count,
    .total-likes, .price-per-day,
    .like-button
    {
        font-size: 16px;
    }
    
    .icon {
        width: 17px;
    }
    
    .photographer-footer {
        right: 0;
        padding: 0 35px;  
        width: 180px;
        gap: 0x;
    }
    .lightbox {
        padding: 0;
    }
    .media-name {
        width: 100%;
        color: #901C1C;
        font-size: 16px;
    }
      .lightbox-close {
        top: 300px;
        right: 10px;
        width: 20px;
        
      }
      .lightbox-image ,.lightbox-video {
        max-width: 100%;
    }
      .lightbox-prev{
        left: 0;
      }
      .lightbox-next {
        right: 0;
      }
      .lightbox-prev,
      .lightbox-next {
        position: absolute;
        width: 20px;
    }

      .lightbox-prev:hover,
      .lightbox-next:hover {
        background: rgba(255, 255, 255, 0.3);
      }
      .media-card img, .media-card video {
        width: 100%;
    }
}
