@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
a {
    text-decoration: none;
}

header h1 {
    color: #901C1C;
    font-size: 36px;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
color: #D3573C;
text-align: center;
font-size: 36px;
font-weight: 400;
line-height: normal;
margin-top: 20px;
margin-bottom: 0;
}

.photographer-portrait {
    width: 200px; 
    height: 200px; 
    display: block; 
    margin: auto; 
    max-width: 100%; 
    height: auto; 
    border-radius: 50%; 
    object-fit: cover; 
    background: lightgray 50% / contain no-repeat; 
}
.photographer_section article img {
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    border-radius: 100px;
}
.location {
color: #901C1C;
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}
.tagline {
color: #000;
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 3px;
margin-bottom: 0;
}
.price {
    color: #757575;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-top: 3px;
}

@media screen and (max-width: 1024px) { 
    .logo {
        height: 40px;
        margin-left: 70px;
    }
    header h1 {
        
        font-size: 32px;
        margin-right: 30px;
    }
    .photographer_section article h2 {
        font-size: 33px;
    }
}
@media screen and (max-width: 768px) { 
    .logo {
        height: 35px;
    }
    header h1 {
        
        font-size: 28px;
        margin-right: 20px;
    }
    .photographer_section article img {
        height: 150px;
        width: 150px;
        flex-shrink: 0;
        border-radius: 100px;
    }
    .photographer_section article h2 {
        font-size: 23px;
    }
}
@media screen and (max-width: 320px) { 
    header {
        height: 40px;
        width: 100%;
        gap: 180px;
    }
    .logo {
        height: 25px;
        margin-left: 15px;
    }
    header h1 {
        
        font-size: 18px;
        margin-right: 0;
    }
    .photographer_section article img {
        height: 83px;
        width: 83px;
        border-radius: 100px;
    }
    .photographer_section article h2 {
        font-size: 23px;
    }
}
